button{
    background-color: green;
    display: inline-block;
    padding: 10px;
    }

.slides{
    width: 500px;
    height: 400px;
}

#commentText{
    height: 150px;
    width: 200px;
}

.commentFieldDiv{
    border: 1px solid black;
    background-color: beige;
    padding: 10px;
    margin: 10px 200px 10px 200px;
}